.edit-page {

    padding: 20px 60px;
  
    .page-content {
      background-color: #FFF;
      padding: 2%;
  
      .img-avatar {
        border-radius: 50%;
        width: 150px;
        display: block;
        margin: 20px auto;
      }
  
      .change-img-button {
        display: block;
        margin: 0px auto;
      }

    }
  }
  agm-map { height: 300px; width: 100% }
  