<div class="row">
    <div class="col-md-4 offset-md-1" *ngIf="showList">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByName()">
        <div class="input-group-append">
          <span class="input-group-text">
            <i class="fa fa-search" style="font-size:24px"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <label class="radio-inline"><input type="radio" value="list" name="view" (change)="onItemChange($event)" checked>List View</label>
      <label class="radio-inline" style="margin-left: 2%;"><input type="radio" value="map" name="view" (change)="onItemChange($event)" >Map View</label>
    </div>
  </div>
  
  <div class="list-group restaurant-list" *ngIf="showList">
    <div *ngFor="let restaurant of restaurants" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="row">
        <div class="col col-md-2 image-col">
          <img class="image" [src]="restaurant.data.logo">
        </div>
        <div class="col col-md-8 text-col">
          <h5 class="mb-1">{{restaurant.data.name}}</h5>
        </div>
        <div class="col col-md-2 actions-col">
          <button class="btn btn-outline-primary action" title="view" (click)="viewDetails(restaurant.id)" type="button" style="margin-right: 1%;">
            <i class="fa fa-eye" style="font-size:24px"></i>
          </button>
          <button class="btn btn-outline-primary action" title="delete" (click)="deleteRestaurant(restaurant.id)" type="button">
            <i class="fa fa-trash" style="font-size:24px"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content" *ngIf="!showList">
    <div class="row">
      <div class="col col-md-12">
         <div>
          <agm-map
          [latitude]='lat'
          [longitude]='long'
          [mapTypeId]='mapType'
          fullscreenControl = 'true'
          (markerClick)="selectMarker($event)"
          [streetViewControl]="false"
          [zoom]="14"
          (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
          mapDraggable = 'true'
          gestureHandling = 'none'
          scrollwheel = 'false'>
      <agm-marker
          *ngFor="let marker of markers"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          [opacity]="marker.alpha"
          [markerDraggable]="true"
          (markerClick)="selectMarker($event)"
      >
      </agm-marker>
      <agm-rectangle
          [north]="max('lat')"
          [east]="max('lng')"
          [south]="min('lat')"
          [west]="min('lng')"
      >
      </agm-rectangle>
          </agm-map>
         </div>
      </div>
    </div>
  </div>
  