
.restaurant-list {
padding: 40px 60px;

.image-col {
    text-align:center;

    .image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    }
}
.text-col {
    margin: auto 0px;
}
.actions-col {
    text-align: center;
    margin: auto 0px;

    .action {
    line-height: 1;
    }
    .icon {
    font-size: 20px;
    }
}
}

.page-content {
    background-color: #FFF;
    padding: 2%;
    width: 90%;
    margin: 0  0 2% 4%;
}
agm-map { height: 500px; width: 100% }
  